<div class="card" *ngIf="product.title">
    <img class="card-img-top" [src]="product.imageUrl" alt="{{product.title}}" *ngIf="product.imageUrl">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{ product.price | currency }}</p>
    </div>
    <div class="card-footer" *ngIf="showAction && shoppingCart">
        <button *ngIf="shoppingCart.getQuantity(product) === 0 else addbuttons" (click)="addToCart()" class="btn btn-secondary btn-block">add to Cart</button>
        
        <ng-template #addbuttons>
         <product-quantity [product]="product" [shopping-cart]="shoppingCart" ></product-quantity>
        </ng-template>

    </div>
  </div>